* {
  /* box-sizing: border-box; */
}

@font-face {
  font-family: appleCrush;
  src: url(AppleCrush-zr8ML.ttf) format("truetype");
}

body {
  background: linear-gradient(90deg, rgba(255,227,0,1) 2%, rgba(255,177,0,1) 19%, rgba(255,157,0,1) 37%, rgba(255,144,0,1) 58%, rgba(255,125,0,1) 78%, rgba(255,103,0,1) 100%);display: flex;
  justify-content: center;
}

input {
  margin: 300px 0 0;
  font-family: appleCrush, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: none;
  border-bottom: solid #ff6700;
  width: 35rem;
  height: 6rem;
  font-size: 2rem;
  padding: 0 1rem ;
}


.search-container input,
.search-container .suggestions {
  background: #ffb300
}

input:focus {
outline: none;
border: solid rgba(128, 128, 128, 0.164);
border-bottom: solid #ff6700;
}

ul {
 font-family: applecrush;
 font-size: 1.5rem;
 list-style: none;
 padding: 0;
 max-height: 400px;
 overflow:auto;
}

ul li {
padding: 0.3rem 1rem;
}
ul li:hover {
background: rgba(255,103,0,1);
}